* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
    background-image: url('../assets/background.jpeg');
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

ul {
    padding: 0 0 0 10px;
}

li {
    list-style-type: none;
}

table {
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: rgb(100, 117, 99);
    text-decoration: underline;
}
